.App {
  text-align: center;
}

.wem-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-back {
  height: 400vh;
  position: absolute;
  top: -200vh;
  left: -275vh;
}

.logo-back {
  height: 400vh;
  position: absolute;
  top: -180vh;
  left: -196vh;
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}