.background-graphics {
  transform-origin: -75vh -100vh
}

.underline {
  height: 1vh;
  width: 6vw;
  background-color: white;
  margin-top: 0.5vh;
  margin-left: 2vw;
}

.Page-title-about {
  z-index: 5;
  position: absolute;
  top: -70vh;
  left: -63vw;
  font-size: 5vh;
  font-weight: bold;
  transform: rotateZ(45deg);
}

.Page-title-projects {
  z-index: 5;
  position: absolute;
  top: -66vh;
  left: -63vw;
  font-size: 5vh;
  font-weight: bold;
  transform: rotateZ(45deg)
}

.Page-title-contact {
  z-index: 5;
  position: absolute;
  top: -69vh;
  left: -64vw;
  font-size: 5vh;
  font-weight: bold;
  transform: rotateZ(45deg)
}


.Menu-z5 {
  z-index: 5;
  position: absolute;
  transform: rotateZ(45deg);
  top: 65vh;
  left: 25vw;
  font-size: 4vh;
  padding-bottom: 3vh;
  font-weight: bold;
}

.Menu-z0 {
  z-index: 0;
  position: absolute;
  transform: rotateZ(45deg);
  top: 65vh;
  left: 25vw;
  font-size: 4vh;
  padding-bottom: 3vh;
  font-weight: bold;
}

.App {
  text-align: center;
}

.wem-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-back {
  height: 400vh;
  position: absolute;
  top: -141vh;
  left: -275vh;
}

.logo-back {
  height: 400vh;
  position: absolute;
  top: -222vh;
  left: -297vh;
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}